In [127]:
import csv

In [131]:
f = open("incheon_weather.csv", "r", encoding="cp949")
data = csv.reader(f)
header = next(data)

In [132]:
date, _, _, _, max_temp = list(zip(*data))
max_temp = list(map(float, ["-999" if i == "" else i for i in max_temp]))
print("기상 관측 이래, 인천 최고 기온이 가장 높았던 날은 {0} 이고, {1} 도 이다.".format(date[max_temp.index(max(max_temp))], max(max_temp)))

기상 관측 이래, 인천 최고 기온이 가장 높았던 날은 1949-07-16 이고, 38.9 도 이다.

In [133]:
f.close()